.navigation {
    &__checkbox {
        display: none;

    }

    &__button {
        background: $color-white;
        height: 7rem;
        width: 7rem;
        position: fixed;
        top: 6rem;
        right:6rem;
        border-radius: 50%;
        z-index: 200;
        box-shadow: 0 1rem 3rem rgba($color-black, 0.2);
        text-align: center;
        cursor: pointer;
        
        @include media(phone) {
            top: 3rem;
            right:3rem;
        }

    }

    &__background {
        height: 6rem;
        width: 6rem;
        border-radius: 50%;
        position: fixed;
        top: 6.5rem;
        right: 6.5rem;
        background-image: radial-gradient($color-primary-light, $color-primary-dark);
        z-index: 100;
        transition: transform 1s cubic-bezier(0.86, 0, 0.07, 1);

        @include media(phone) {
            top: 3.3rem;
            right:3.3rem;
        }
    }

    &__nav {
        height: 100vh;
        width: 0;
        position: fixed;
        top: 0;
        right: 0;
        z-index: 150;
        opacity: 0;
        transition: all 2s cubic-bezier(.27,.01,.29,1.18) 0.2s ;

    }

    &__list {
        @include centerElement();
        list-style: none;
        text-align: center;
    }

    &__item {
        margin: 1rem;
        transition: all 0.3s;

        &:hover {
            transform: translateX(1rem);
        }
    }

    &__link {
        &:link,
        &:visited {
            font-size: 3rem;
            font-weight: 50;
            padding: 1rem 2rem;
            color: $color-white;
            text-decoration: none;
            text-transform: uppercase;
            background-image: linear-gradient(120deg, transparent 45%, $color-white 50%);
            background-size: 235%;
            transition: all 0.3s;

            span {
                margin-right: 2rem;
            }
        }

        &:hover,
        &:active {
            background-position: 100%; 
            color: $color-primary-light;
        }
        
    }
    &__checkbox:checked ~ &__background {
         transform: scale(80);
    }

    &__checkbox:checked ~ &__nav {
       opacity: 1;
       width: 100%;
   }

//ICONE

   &__icon {
       position: relative;
       margin-top: 3.3rem;
      

       &,
       &::before,
       &::after {
           width: 3rem;
           height: 0.3rem;
           background-color: $color-grey-3;
           display: inline-block;
       }

       &::before,
       &::after {
           content: "";
           position: absolute;
           left: 0;
           transition: all 0.2s;
       }

       &::before { top: -0.8rem; }
       &::after { top: 0.8rem; }
   }

   &__button:hover &__icon::before {
       transform: translateY(-.5rem);
   }
   &__button:hover &__icon::after {
    transform: translateY(.5rem);
    }

    &__checkbox:checked + &__button &__icon {
        background-color: transparent;
    }

    &__checkbox:checked + &__button &__icon::before {
        transform: rotate(45deg);
        top: 0;
        
    }
    &__checkbox:checked + &__button &__icon::after {
        transform: rotate(-45deg);
        top: 0;
    }
}